.ml-2 {
  margin-left: 1rem;
}

.profile-heder__container {

  display: flex;
}

.profile-heder__content {
  margin-left: 2rem;
}

.profile-heder__login {
  font-weight: bold;
}
.brand__name {
  color: white !important;
}